<nav class="navbar is-primary">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="assets/images/logo.png" alt="Logo">
      </a>
      <span class="navbar-burger burger" data-target="navbarMenu">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </div>
    <div id="navbarMenu" class="navbar-menu">
      <div class="navbar-end">
        {% assign pages = site.html_pages | sort:"order" %} {% for navbarItem in pages %} {% if navbarItem.draft != true %}
        <a class="navbar-item {% if navbarItem.url == page.url %}is-active{% endif %} {% if navbarItem.color %}is-{{navbarItem.color}}{% endif %}"
          href="{{navbarItem.url}}">
          {{ navbarItem.title }}
        </a>
        {% endif %} {% endfor %}
      </div>
    </div>
  </div>
  </div>
</nav>