<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="{{ page.description | default: site.description }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href="{{ "/assets/css/styles.css?v=" | append: site.github.build_revision | relative_url}}" rel="stylesheet">
    <script src="/assets/js/script.js"></script>
  </head>
  <body>
    {% include header.html %}
    {% include hero.html %}
    {% include notice.html %} 
    <section class="container section page-content">
      <div class="content">
        {{ content }}
      <div>
    </section>
    {% include footer.html %}

    {% if site.google_analytics %}
      {% include googleAnalytics.html %}
    {% endif %}

    {% if site.facebook_app_id %}
      {% include facebookApi.html %}
    {% endif %}
  </body>
</html>
